body {
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: #00CC00;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    text-align: center;
    color: #868e96;
}

#game {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 40px;
    width: 12em;
    height: 18em;
    font-family: Geo;
    color: rgb(200, 200, 100);
    background-color: rgb(60, 60, 40);
    background-size: 10px 10px;
    background-image:
        -webkit-linear-gradient(45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%),
        -webkit-linear-gradient(-45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%);
    background-image:
        -moz-linear-gradient(45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%),
        -moz-linear-gradient(-45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%);
    background-image:
        -ms-linear-gradient(45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%),
        -ms-linear-gradient(-45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%);
    background-image:
        -o-linear-gradient(45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%),
        -o-linear-gradient(-45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%);
    background-image:
        linear-gradient(45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%),
        linear-gradient(-45deg, transparent 0%, rgb(20, 20, 20) 25%, transparent 50%, rgb(20, 20, 20) 75%, transparent 100%);
}

#game .screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10;
}

#game .screen.active {
    display: block;
}

#splash-screen {
    text-align: center;
    padding-top: 2.5em;
}

#splash-screen .continue {
    cursor: pointer;
    font-size: 0.75em;
}

/* Install screen for iOS devices */
#install-screen {
    padding-top: 0.5em;
    text-align: center;
}

#install-screen span {
    font-size: 0.75em;
    display: inline-block;
    padding: 0 0.5em;
}

.logo {
    font-size: 1.5em;
    line-height: 0.9em;
    text-shadow: 0.03em 0.03em 0.03em rgb(255, 255, 0),
        -0.03em -0.03em 0.03em rgb(255, 255, 0),
        0.10em 0.15em 0.15em rgb(0, 0, 0);
    font-family: Slackey;
    margin: 0;
    text-align: center;
    color: rgb(70, 120, 20);
}

/* Main menu styles */
#main-menu {
    padding-top: 1em;
}

ul.menu {
    text-align-last: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

ul.menu li button {
    font-family: Slackey, sans-serif;
    font-size: 0.6em;
    color: rgb(100, 120, 0);
    width: 10em;
    height: 1.5em;
    background: rgb(10, 20, 0);
    border: 0.1em solid rgb(255, 255, 0);
    border-radius: 0.5em;
    -webkit-box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    -moz-box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
    box-shadow: 0.2em 0.2em 0.3em rgb(0, 0, 0);
}

ul.menu li button:hover {
    background: rgb(30, 40, 0);
}

ul.menu li button:active {
    color: rgb(255, 255, 0);
    background: rgb(30, 40, 0);
}


h1, h2, h3, {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 12rem;
    line-height: 11rem;
    color: #44FF44;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

@media (min-width: 992px) {

    body {
        padding-top: 0;
        overflow: hidden;
        padding-left: 17rem;
    }
}

.bg-primary {
    background-color: #BD5D38 !important;
}

.text-primary {
    color: #BD5D38 !important;
}

a {
    color: #BD5D38;
}

    a:hover, a:focus, a:active {
        color: #824027;
    }

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

/* Green */
.success {
    color: green;
}

    .success:hover {
        background-color: #4CAF50;
        color: white;
    }

/* Blue */
.info {
    color: dodgerblue;
}

    .info:hover {
        background: #2196F3;
        color: white;
    }

/* Orange */
.warning {
    color: orange;
}

    .warning:hover {
        background: #ff9800;
        color: white;
    }

/* Red */
.danger {
    color: red;
}

    .danger:hover {
        background: #f44336;
        color: white;
    }

/* Gray */
.default {
    color: black;
}

    .default:hover {
        background: #e7e7e7;
    }
